@import "tailwindcss";

/*!  TAILWIND STYLES ==========================================*/

.black-theme {
  @apply bg-gray-800 text-white
}


/*!  TAILWIND STYLES ==========================================*/

/*!  CSS STYLES ==========================================*/
/* Remove scrollbar */
.remove-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  border-radius: 0px;
}

.remove-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.remove-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 0px;
}

.remove-scrollbar::-webkit-scrollbar-thumb:hover {
  /* background: #1e2238; */
  background: transparent;
}
/*!  CSS STYLES ==========================================*/